a{
    text-decoration: none;
}

*{
    direction: rtl;
    box-sizing: border-box;
    font-family: Vazirmatn;
}

body{
  font-family: "Vazirmatn", "Poppins", sans-serif;
    font-size: 16px;
    margin: 5px;
    cursor: default;
}

img{
    max-width: 100%;
    height: auto;
}

